/* GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

section {
  border: 0px solid yellow;
  margin-bottom: 100px;
}

header {
  border: 0px solid green;
  height: 100vh;
  position: relative;
  background-image: url(https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 100px;
  color: white;
}

.container {
  border: 0px dashed red;
}

.container-own {
  border: 0px dashed red;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
}

.row {
  border: 0px dotted blue;
  margin: 40px 0;
}

[class^="col-"] {
  border: 0px dashed brown;
  padding-top: 20px;
}

.section-title {
  border: 0px dotted orange;
  font-family: "Nunito Sans", sans-serif;
  font-size: 35px;
  font-weight: 900;
  margin: 0;
}

.section-subtitle {
  border: 0px dotted orange;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 20px;
  margin: 0;
}

.box {
  border: 0px dotted purple;
  background-color: #f9ca24;
  padding: 0;
}

.box-title {
  border: 0px dotted orange;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}

.box-text {
  border: 0px dotted orange;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 16px;
  font-weight: 300px;
  padding: 0 15px 25px 15px;
}

/* NAV-BAR */
.navigation-bar {
  border: 0px dotted blue;
  display: flex;
  flex-wrap: wrap;
  /*zawija pasek po zmniejszeniu okna*/
  justify-content: space-between;
  padding-top: 10px;
}

.navigation-bar .navigation-bar-left {
  border: 0px dashed brown;
  color: #f9ca24;
}

.navigation-bar .navigation-bar-left i {
  border: 0px dotted orange;
  float: left;
  font-size: 24px;
  margin-right: 10px;
}

.navigation-bar .navigation-bar-left p {
  border: 0px dotted orange;
  float: left;
  margin: 0;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 20px;
  transition: all 1s;
}

.navigation-bar .navigation-bar-left p:hover {
  color: white;
}

.navigation-bar .navigation-bar-right {
  border: 0px dashed brown;
  /*--menu I poziomu--*/
}

.navigation-bar .navigation-bar-right .menu-first {
  border: 0px dotted purple;
  margin: 0;
  padding-left: 0;
}

.navigation-bar .navigation-bar-right .menu-first li {
  border: 0px dotted orange;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  /*--menu II poziomu--*/
}

.navigation-bar .navigation-bar-right .menu-first li:hover {
  /*--menu II poziomu--*/
}

.navigation-bar .navigation-bar-right .menu-first li:hover .menu-second {
  display: block;
}

.navigation-bar .navigation-bar-right .menu-first li a {
  text-decoration: none;
  color: white;
  transition: all 1s;
}

.navigation-bar .navigation-bar-right .menu-first li a:hover {
  color: #f9ca24;
}

.navigation-bar .navigation-bar-right .menu-first li .menu-second {
  display: none;
  position: absolute;
  left: -41px;
  top: 20px;
}

.navigation-bar .navigation-bar-right .menu-first li .menu-second li {
  display: block;
  margin: 8px 0;
  text-align: left;
}

/* SPLASH */
.splash {
  position: relative;
  height: 50%;
}

.splash .splash-inner {
  border: 0px dashed red;
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.splash .splash-inner h1 {
  margin: 15px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.1;
}

.splash .splash-inner h2 {
  margin: 5px;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 35px;
  line-height: 1.1;
}

.splash .splash-inner .btn {
  display: block;
  margin: 0 auto;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #f9ca24;
  border: 2px solid #f9ca24;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  transition: all 1s;
}

.splash .splash-inner .btn:hover {
  color: black;
  border-color: black;
}

/* SERVICES */
.services i {
  font-size: 40px;
  background-color: inherit;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  color: #f9ca24;
  border: 3px solid #f9ca24;
  border-radius: 50%;
  text-align: center;
}

/* PORTFOLIO */
.portfolio .single-img {
  border: 0px dotted purple;
  width: 100%;
}

.portfolio .single-img img {
  border: 0px dotted orange;
  width: 100%;
}

/* FOOTER */
footer p {
  font-family: "Akaya Kanadaka", cursive;
}

footer i {
  font-size: 20px;
  background-color: black;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin: 0 2px;
  padding: 10px;
  color: white;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 490px) {
  /*nav-bar*/
  .navigation-bar .navigation-bar-left i {
    font-size: 57px;
    margin-right: 25px;
  }
  .navigation-bar .navigation-bar-left p {
    font-size: 50px;
  }
  .navigation-bar .navigation-bar-right {
    margin-top: 10px;
    font-size: 18px;
  }
  .navigation-bar .navigation-bar-right .menu-first li .menu-second {
    top: 30px;
  }
}

@media (max-width: 992px) {
  /*footer*/
  .b-first {
    order: -1;
  }
}
